* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}
.top-container {
  max-width: 100%;
  background-color: rgb(247, 244, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-cloud {
  position: relative;
  left: 20%;
  max-width: 100%;
}
.mountian {
  max-width: 100%;
}

.bottom-cloud {
  position: relative;
  right: 30%;
  max-width: 100%;
}
.header {
  margin: 10px auto;
}
.my-pic {
  width: 150px;
  border-radius: 50%;
  margin-top: 100px;
}
.container {
  text-align: center;
}
.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather", serif;
}
.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 20px auto;
  text-align: left;
  max-width: 800px;
}
.hello {
  margin-top: 50px;
  font-size: 2.5rem;
  color: #66bfbf;
}
.hello-graph {
  width: 30%;
  margin: auto;

  margin-top: 40px;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  color: #66bfbf;
  font-size: 1.5rem;
  font-weight: normal;
}
p {
  line-height: 1.5;
  font-size: 1.5rem;
}
.contact {
  font-family: "Montserrat", sans-serif;
}
.cantact-me {
  display: grid;
  gap: 20px;
}
.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  background-color: #66bfbf;
  color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  margin-top: 3rem;
  transform: ;
}
.btn:hover {
  background-color: black;
  color: #fff;
}
.bottom-container {
  font-family: "Montserrat", sans-serif;
  margin: 100px auto;
}

.footer-link {
  margin: 10px 20px;
  text-decoration: none;
  color: #11999e;
  font-size: 20px;
}
.copyright {
  font-size: 20px;
  margin-top: 20px;
}
